@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "League Spartan";
  src: url("/fonts/LeagueSpartan.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/WorkSans-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Press Start 2P";
  src: url("/fonts/PressStart2P-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VT323";
  src: url("/fonts/VT323-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PixelifySans";
  src: url("/fonts/PixelifySans-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

::selection {
  background-color: rgba(55, 151, 230, 0.5);
  color: rgb(209, 234, 255);
}

::-moz-selection {
  background-color: rgba(55, 151, 230, 0.5);
  color: rgb(209, 234, 255);
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #959595;
  border-radius: 6px;
}

.bouncing-loader {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 90px;
  height: 50px;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bouncing-loader-s {
  position: unset !important;
  margin: 50px 0 150px 50%;
}

.bouncing-loader-s div {
  background-color: var(--s-third-color) !important;
}

.bouncing-loader div {
  width: 15px;
  height: 15px;
  background-color: #52525c;
  border-radius: 50%;
  animation: bounce 1s infinite ease-in-out;
}
.bouncing-loader div:nth-child(1) {
  animation-delay: 0s;
}
.bouncing-loader div:nth-child(2) {
  animation-delay: 0.2s;
}
.bouncing-loader div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.7);
  }
}
